 


 body {
color: white;
}

.button {
 font-size:12px;
     text-decoration:none;
     background: #006400;
     color:#ff0000;
     border:#90ee90 2px solid;
     padding:9px 20px;
     border-radius:10px;
     margin-top:20px;

}
.button:hover{
    background: #00ff7f;
    color: #006400;
}
.button{
     font-size:10px;
     text-decoration:none;
     color:#926239;
     border:#926239 1px solid;
     padding:10px 20px;
     border-radius:10px;
     margin-top:20px;
 }